:root {
  --WHITE: #fff;
  --NAVY-BLUE: #2e2f42;
  --IRIS: #4d5ae5;
  --SLATE: #434455;
  --CLOUD: #f4f4fd;
  --LIGHT-SLATE: #8e8f99;
}
ul {
  list-style-type: none;
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

body {
  font-family: "Roboto", sans-serif;
  color: var(--SLATE);
  background-color: #fff;
  font-size: 16px;
  font-style: normal;
  line-height: 150%;
  letter-spacing: 0.02em;
}

a {
  text-decoration: none;
}
address {
  font-style: normal;
}

.link {
  text-decoration: none;
}

.link:hover,
.link:focus {
  color: #404bbf;
}

.logo:hover,
.logo:focus {
  color: #4d5ae5;
}

.logo-alt:hover,
.logo-alt:focus {
  color: #2e2f42;
}

footer .logo-alt:hover,
footer .logo-alt:focus {
  color: #f4f4fd;
}

.logo {
  height: 24px;
  align-items: center;
  flex-shrink: 0;
  font-family: "Raleway", sans-serif;
  color: var(--IRIS, #4d5ae5);
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 21px;
  letter-spacing: 0.034px;
  text-transform: uppercase;
  text-decoration: none;
  line-height: 1.17;
}
.logo-alt {
  color: var(--NAVY-BLUE, #2e2f42);
  font-family: "Raleway", sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 21px;
  letter-spacing: 0.034px;
  text-transform: uppercase;
  text-decoration: none;
  line-height: 1.17;
}

.bar-sections-flex-item {
  color: var(--NAVY-BLUE, #2e2f42);
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 120%;
  letter-spacing: 0.02em;
  text-decoration: none;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.contact-info li a {
  color: var(--SLATE, #434455);
  text-decoration: none;
}

.hero {
  max-width: 1440px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-color: #2e2f42;
  background-image: linear-gradient(
      to bottom,
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)
    ),
    url(../images/people-office.jpg);
  margin: 0 auto;
}
.hero-title {
  color: var(--WHITE, #fff);
  font-size: 56px;
  font-style: normal;
  font-weight: 700;
  line-height: 107.143%;
  letter-spacing: 0.02em;
  line-height: 1.07;
  text-align: center;
}
.hero-button {
  font-family: "Roboto", sans-serif;
  background: #4d5ae5;
  cursor: pointer;
  color: #ffffff;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.hero-button:hover,
.hero-button:focus {
  background-color: #404bbf;
}

.header-proficiencies {
  color: #2e2f42;
  font-size: 36px;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  text-transform: capitalize;
}
.header-two {
  color: #2e2f42;
  font-size: 36px;
  font-style: normal;
  font-weight: 700;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
}

.header-three {
  color: var(--NAVY-BLUE, #2e2f42);
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: 120%;
  letter-spacing: 0.025em;
}

.team-members {
  background-color: #ffffff;
}
.position {
  font-size: 16px;
}
.type {
  font-family: "Roboto", sans-serif;
  color: var(--SLATE);
  font-size: 16px;
  font-style: normal;
  line-height: 150%;
  letter-spacing: 0.02em;
}
.footer {
  background-color: #2e2f42;
}

.footer .logo-alt {
  color: #f4f4fd;
  text-decoration: none;
}
.footer-text {
  color: #f4f4fd;
  line-height: 1.5;
  letter-spacing: 0.02em;
}
/*formalise*/
*,
::after,
::before {
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul {
  padding: 0;
  margin: 0;
}

img {
  display: block;
  max-width: 100%;
}
section {
  padding: 120px;
}
/*header*/

.header {
  display: flex;
  align-items: center;
  flex-shrink: 0;
  border-bottom: 1px solid #e7e9fc;
  padding-bottom: 21px;
  padding-top: 24px;
  box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
}

.container {
  margin: 0 auto;
  padding: 0 15px;
  width: 1158px;
}

.header-container {
  display: flex;
  justify-content: space-between;
}

.navigation-flex {
  display: flex;
  align-items: center;
}

.logo {
  margin-right: 76px;
}

.bar-sections-flex {
  display: flex;
  gap: 40px;
}

.bar-sections-flex-item {
  padding: 24px 0;
}

.active {
  color: #404bbf;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.address-flex {
  display: flex;
  gap: 40px;
}

/* hero */

.hero-flex {
  padding: 188px 0;
}

.hero-flex-title {
  display: flex;
  max-width: 496px;
  margin: 0 auto;
}

.hero-button-flex {
  display: block;
  min-width: 169px;
  height: 56px;
  border: none;
  background-color: var(--IRIS);
  border-radius: 4px;
  cursor: pointer;
  margin: 48px auto 0;
}
/* section 2*/

.proficiencies-flex {
  padding: 120px 0px;
  margin: 0 auto;
  display: flex;
}

.proficiencies-list {
  display: flex;
  gap: 24px;
}

.proficiencies-list-item {
  width: calc((100% - 3 * 24px) / 4);
}

.header-proficiencies {
  margin-bottom: 8px;
}

/*section 3*/

.team-section {
  padding: 120px 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--CLOUD);
}

.header-two {
  margin-bottom: 72px;
}

.team-list-flex {
  display: flex;
  gap: 24px;
}

.team-members-flex {
  width: calc((100% - 3 * 24px) / 4);
  border-radius: 0 0 4px 4px;
  box-shadow: 0px 2px 1px 0px rgba(46, 47, 66, 0.08),
    0px 1px 1px 0px rgba(46, 47, 66, 0.16),
    0px 1px 6px 0px rgba(46, 47, 66, 0.08);
}

.position-flex {
  padding: 32px 0;
}

.team-header-three {
  margin-bottom: 8px;
  text-align: center;
}

.position {
  text-align: center;
  margin-bottom: 8px;
}

/* section 4 */
.portfolio-section {
  padding: 120px 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.portfolio-list-flex {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  column-gap: 24px;
  row-gap: 48px;
}
.portfolio-item-flex {
  display: block;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-item-flex:hover {
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}

.portfolio-item-flex:focus {
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}
.portfolio-item-flex h3 {
  margin-bottom: 8px;
}

.portfolio-text-flex {
  padding: 32px 16px;
  border: 1px solid var(--CORNFLOWER, #e7e9fc);
  border-top: none;
}

/*footer*/

.footer-flex {
  padding: 100px 0;
}
.footer-container {
  display: flex;
  align-items: baseline;
}

.footer-logo {
  display: inline-block;
  margin-bottom: 16px;
  height: 24px;
  align-items: center;
  flex-shrink: 0;
  font-family: "Raleway", sans-serif;
  color: var(--IRIS, #4d5ae5);
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 21px;
  letter-spacing: 0.034px;
  text-transform: uppercase;
  text-decoration: none;
  line-height: 1.17;
}

.footer-text {
  max-width: 264px;
}
/*  */
.proficiencies-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 112px;
  background-color: #f4f4fd;
  border: var(--LIGHT-SLATE) solid 1px;
  border-radius: 4px;
  margin-bottom: 8px;
}

.social {
  display: flex;
  justify-content: center;
  gap: 24px;
  list-style-type: none;
}
.social.social-footer {
  gap: 16px;
}

.social-item {
  width: 40px;
  height: 40px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-item-link {
  display: flex;

  width: 100%;
  height: 100%;
  background-color: #4d5ae5;
  border-radius: 50%;
  align-items: center;
  justify-content: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.social-item-link:hover {
  background-color: #404bbf;
}

.social-item-link:focus {
  background-color: #404bbf;
}

.social-icon {
  fill: #f4f4fd;
}

.social-item-link.footer-link:hover {
  background-color: #31d0aa;
  cursor: pointer;
}

.social-item-link.footer-link:focus {
  background-color: #31d0aa;
}
.footer-info {
  margin-right: 120px;
}
.footer-social-p {
  display: flex;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--WHITE);
  margin-bottom: 16px;
}

.bar-sections-flex-item:first-child {
  position: relative;
}
.bar-sections-flex-item.active::after {
  content: "";
  display: block;
  width: 100%;
  left: 0px;
  height: 4px;
  bottom: -1px;
  border-radius: 2px;
  background-color: #404bbf;
  position: absolute;
}

.portfolio-picture {
  position: relative;
  overflow: hidden;
}
.portfolio-pop-up {
  position: absolute;
  top: 0;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--CLOUD);
  padding: 40px 32px;
  background-color: #4d5ae5;
  height: 100%;
  width: 100%;
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.portfolio-item-flex:hover .portfolio-pop-up {
  transform: translateY(0%);
}

.portfolio-item-flex:focus .portfolio-pop-up {
  transform: translateY(0%);
}

.address-item {
  font-weight: 400;
}

.backdrop {
  position: fixed;
  top: 0px;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(46, 47, 66, 0.4);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1);
  width: 408px;
  min-height: 584px;
  background: #fcfcfc;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.close-button {
  position: absolute;
  top: 24px;
  right: 24px;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #e7e9fc;
  border: 1px solid rgba(0, 0, 0, 0.1);
  padding: 0;
  cursor: pointer;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.close-button:hover,
.close-button:focus {
  background-color: #404bbf;
  border: none;
  fill: #ffffff;
}

.button-icon {
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

/* forms */

.subscribe {
  margin-bottom: 16px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #ffffff;
  padding-left: 80px;
}

.footer-form {
  display: flex;
  gap: 24px;
  padding-left: 80px;
}

.footer-email {
  width: 264px;
  height: 40px;
  border: 1px solid #ffffff;
  background-color: transparent;
  font-size: 12px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  padding-left: 16px;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  color: #ffffff;
}

.footer-email::placeholder {
  color: #ffffff;
}

.footer-button {
  min-width: 165px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #ffffff;
  cursor: pointer;
  background-color: #4d5ae5;
  border: none;
  border-radius: 4px;
}

.telegram-icon {
  margin-left: 16px;
}

.modal {
  padding: 72px 24px 24px 24px;
}

.modal-p {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  text-align: center;
  letter-spacing: 0.02em;
  color: var(--NAVY-BLUE);
  margin-bottom: 16px;
}

.form-name {
  margin-bottom: 8px;
}

.label-form {
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: var(--LIGHT-SLATE);
  display: block;
  margin-bottom: 4px;
}

.input-con {
  position: relative;
}

.input-style {
  width: 100%;
  height: 40px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 4px;
  background-color: transparent;
  padding-left: 38px;
  outline: transparent;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.input-style:focus {
  border-color: #4d5ae5;
}

.form-icon {
  position: absolute;
  left: 16px;
  top: 50%;
  transform: translateY(-50%);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.input-style:focus + .form-icon {
  fill: #4d5ae5;
}

.comment {
  margin-bottom: 16px;
}

.textarea-comment {
  width: 100%;
  height: 120px;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: rgba(46, 47, 66, 0.4);
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 4px;
  background-color: transparent;
  padding: 8px 16px;
  outline: transparent;
  resize: none;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.textarea-comment:focus {
  border-color: #4d5ae5;
}

.form-terms {
  display:inline-flex;
  gap: 8px;
  margin-bottom: 24px;
}

.text-checkbox {
  align-items: center;
  gap: 8px;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: var(--LIGHT-SLATE);
}

.prop-checkbox {
  display: inline-flex;
  width: 16px;
  height: 16px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 2px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1),
    fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  align-items: center;
  justify-content: center;
  fill: transparent;
}

.checkbox:checked + .text-checkbox .prop-checkbox {
  background-color: #404bbf;
  border: none;
  fill: var(--CLOUD);
}

.privacy-link {
  color: #4d5ae5;
  text-decoration: underline;
}

.form-button {
  display: block;
  min-width: 169px;
  height: 56px;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-weight: 500;
  letter-spacing: 0.04em;
  line-height: 1.5;
  color: #ffffff;
  cursor: pointer;
  background-color: #4d5ae5;
  border: none;
  border-radius: 4px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  margin: 0 100px;
}
